.form-div{
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    border-radius: 10px;

    background-image: url("../imagini/background/colors-gradient.jpg");
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover; 

    display: block;
    height: 1vh;
    text-align: center;
    position: relative;
    margin: 0 auto;

    min-height: 450px;
    max-height: 550px;

    min-width: auto;
    max-width: 550px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: opacity 500ms;
    overflow: auto;
}
.signup{
    max-height: 700px;
}

.logo-login{
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
}

.close{
    margin:0;
    border: 0;
    padding: 8px;
    position: absolute;
    top: -17px;
    right: 4px;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}
.close:hover{
    color: rgb(255, 15, 107);
}

h2{
    position: relative;
    top: 10px;
    margin: 40px 0 0;
}

.input-div{
    position: relative;
    top: 30px;
    padding-top: 50px;
}

.field-span{
    position: absolute;
    float: left;
    left: 105px;
    top: 30px;
}

.input-item{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background: transparent;
    display: block;
    width: 60%;
    margin: 5px auto 0;
    position: relative;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
}

.button{
    margin: 0;
    border: 0;
    padding: 15px 30px;
    border-radius: 4px;
    /*background-color: rgb(255, 15, 107);*/
    background-color: black;
    color: rgb(255, 255, 255);
    /*color: rgb(255, 15, 107);*/
    cursor: pointer;
    position: relative;
    top: 90px;
    font-size: 15px;
}

.button:hover{
    background-color: rgb(20, 20, 20);
}